/* File: angband.rc */
#pragma code_page(65001)

ANGBAND MENU
{
    POPUP "文件(&F)"
    {
        MENUITEM "新建(&N)", 100
        MENUITEM "打开(&O)...", 101
        MENUITEM SEPARATOR
        MENUITEM "保存(&S)", 110
        MENUITEM SEPARATOR
        MENUITEM "退出(&X)", 130
    }

    POPUP "窗口(&W)"
    {
        POPUP "可见性(&V)"
        {
            MENUITEM "Term-0 window", 200
            MENUITEM "Term-1 window", 201
            MENUITEM "Term-2 window", 202
            MENUITEM "Term-3 window", 203
            MENUITEM "Term-4 window", 204
            MENUITEM "Term-5 window", 205
            MENUITEM "Term-6 window", 206
            MENUITEM "Term-7 window", 207
        }

        POPUP "字体(&F)"
        {
            POPUP "英文字体"
            {
                MENUITEM "Term-0 window", 210
                MENUITEM "Term-1 window", 211
                MENUITEM "Term-2 window", 212
                MENUITEM "Term-3 window", 213
                MENUITEM "Term-4 window", 214
                MENUITEM "Term-5 window", 215
                MENUITEM "Term-6 window", 216
                MENUITEM "Term-7 window", 217
            }

            POPUP "中文字体"
            {
                MENUITEM "Term-0 window", 280
                MENUITEM "Term-1 window", 281
                MENUITEM "Term-2 window", 282
                MENUITEM "Term-3 window", 283
                MENUITEM "Term-4 window", 284
                MENUITEM "Term-5 window", 285
                MENUITEM "Term-6 window", 286
                MENUITEM "Term-7 window", 287
            }
        }

        POPUP "背景颜色"
        {
            MENUITEM "Term-0 window", 290
            MENUITEM "Term-1 window", 291
            MENUITEM "Term-2 window", 292
            MENUITEM "Term-3 window", 293
            MENUITEM "Term-4 window", 294
            MENUITEM "Term-5 window", 295
            MENUITEM "Term-6 window", 296
            MENUITEM "Term-7 window", 297
        }

        POPUP "总在最前"
        {
            MENUITEM "Term-1 window", 221
            MENUITEM "Term-2 window", 222
            MENUITEM "Term-3 window", 223
            MENUITEM "Term-4 window", 224
            MENUITEM "Term-5 window", 225
            MENUITEM "Term-6 window", 226
            MENUITEM "Term-7 window", 227
        }

        MENUITEM SEPARATOR
/*
        POPUP "Bizarre Display"
        {
            MENUITEM "Term-0 window", 230
            MENUITEM "Term-1 window", 231
            MENUITEM "Term-2 window", 232
            MENUITEM "Term-3 window", 233
            MENUITEM "Term-4 window", 234
            MENUITEM "Term-5 window", 235
            MENUITEM "Term-6 window", 236
            MENUITEM "Term-7 window", 237
        }
*/
        POPUP "增加图块宽度"
        {
            MENUITEM "Term-0 window", 240
            MENUITEM "Term-1 window", 241
            MENUITEM "Term-2 window", 242
            MENUITEM "Term-3 window", 243
            MENUITEM "Term-4 window", 244
            MENUITEM "Term-5 window", 245
            MENUITEM "Term-6 window", 246
            MENUITEM "Term-7 window", 247
        }

        POPUP "减小图块宽度"
        {
            MENUITEM "Term-0 window", 250
            MENUITEM "Term-1 window", 251
            MENUITEM "Term-2 window", 252
            MENUITEM "Term-3 window", 253
            MENUITEM "Term-4 window", 254
            MENUITEM "Term-5 window", 255
            MENUITEM "Term-6 window", 256
            MENUITEM "Term-7 window", 257
        }

        POPUP "增加图块高度"
        {
            MENUITEM "Term-0 window", 260
            MENUITEM "Term-1 window", 261
            MENUITEM "Term-2 window", 262
            MENUITEM "Term-3 window", 263
            MENUITEM "Term-4 window", 264
            MENUITEM "Term-5 window", 265
            MENUITEM "Term-6 window", 266
            MENUITEM "Term-7 window", 267
        }

        POPUP "减小图块高度"
        {
            MENUITEM "Term-0 window", 270
            MENUITEM "Term-1 window", 271
            MENUITEM "Term-2 window", 272
            MENUITEM "Term-3 window", 273
            MENUITEM "Term-4 window", 274
            MENUITEM "Term-5 window", 275
            MENUITEM "Term-6 window", 276
            MENUITEM "Term-7 window", 277
        }
    }

    POPUP "选项(&O)"
    {
        POPUP "画面(&G)"
        {
            MENUITEM "无 (推荐)(&N)", 400
            MENUITEM "旧版贴图(&O)", 401
            MENUITEM "Adam Bolt 贴图(&A)", 402
            MENUITEM "大贴图模式(&B)", 409
        }

        MENUITEM "声音(&S)", 410
        MENUITEM "&HTML 导出", 450
    }

}

ANGBAND ICON "angband.ico"

ANGBAND BITMAP "wall.bmp"
